.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  text-align: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
